@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&display=swap');

a , a:active , a:hover , a:visited {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Recursive', sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

/*HOME*/
.nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: #6C63FF;
    padding: 5px;
    color: white;
    align-items: center;
}

.navbar-brand {
    padding: 0px 10px;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}
 
h3, h2 {
    margin: 5px 0 0 0px;
    padding-bottom: 5px;
}

.navbar-div {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.nav-link {
    padding: 5px;
    margin: 3px;
    border: 2px solid transparent;
    cursor: pointer;
}

.nav-link:hover {
    border: 2px solid rgb(228, 136, 15);
    border-radius: 10px 0px ;
    background-color: #56546e;
} 

.nav-link-active {
    border-radius: 10px 0px ;
    background-color: rgb(228, 136, 15);
    font-weight: bold;
}

footer {
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-div {
    margin-top: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #6C63FF;
    color: white;
}

.footer-brand {
    padding: 0px 0px;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.social-icon {
    padding: 5px;
    margin: 5px;
    font-size: 2rem;
    cursor: pointer;
}

.social-icon:hover {
    color: rgb(228, 136, 15);
}

.project-section-off-white {
    background-color: #56546e;
    margin: 10px;
    border: 2px solid #6C63FF;
    box-shadow: 5px 5px 5px #6C63FF;
}

.project-section-white {
    margin: 10px;
    border: 2px solid rgb(228, 136, 15);
    box-shadow: 5px 5px 5px rgb(228, 136, 15);
}

.project-container {
    padding: 10px;
    margin: 5px;
    flex-direction: row;
    justify-content: space-evenly;
}

.project-intro-off-white {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    justify-content: flex-start;
}

.project-intro-white {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    justify-content: flex-start;
    color: white;
}

.project-links {
    padding: 5px;
}

.project-img {
    height: 200px;
    width: 200px;
    border-radius: 500px;
}

.about-intro-off-white {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
}

.about-intro-white {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    color: white;
}

.about-container {
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.about-description {
    text-align: center;
}

.blog-header {
  background-color: rgb(228, 136, 15);
  box-shadow: 5px 5px 15px grey;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px 5px 10px 5px;
}

.blog-header-content {
    font-weight: bold;
    margin: auto;
    text-align: center;
    color: black;
    text-shadow: 2px 2px grey;
}

.blog-header-img {
    display: flex;
    place-content: center center;
    float: right;
}

.header-img {
    width: 500px;
    height:200px;
    padding: 5px;
}

.blog-row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.blog-intro-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.blog-intro {
    background-color: #6C63FF;
    color: white;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    padding: auto;
    margin: 20px 5px;
    box-shadow: 5px 5px 10px grey;
}

.blog-link {
    font-size: medium;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
}

.blog-links {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}

.blog-links-on-image {
    display: flex;
    justify-content: center;
}

.blog-link-primary {
    color: white;
    background-color: #6C63FF;
}

.blog-link-secondary {
    color: black;
    background-color: rgb(228, 136, 15);
}

.blog-title-image {
    height: auto;
    width: 60vw;
    display: flex;
    margin: auto;
    justify-content: center;
}

.blog-title-image-hero {
    height: auto;
    max-width: 60vw;
    display: flex;
    margin: auto;
    justify-content: center;
}

.blog-text-heading {
    color: black;
    font-size: large;
    text-align: center;
}

.blog-text {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    font-size: medium; 
}

.image-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.image-text-hero {
    color: rgb(228, 136, 15);
    font: bold;
    font-size: x-large;
    text-shadow: 2px 2px 2px grey;
}

@media only screen and (max-width : 768px) {
.project-container {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.about-container {
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
}

@media only screen and (max-width : 500px) {

    body , main, .blog-header {
        margin-left: 0;
        margin-right: 0;
    }
    
    .nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #6C63FF;
        padding: 5px;
        color: white;
    }

    .blog-title-image {
        height: auto;
        width: 100%;
    }

}